**Stage C quiz**

In [1]:
#importing the necessary libraries
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
#Importing the two datasets
#Africa food production
Africa_fp = pd.read_csv(r'C:\Users\Kolade Olawoyin\Documents\Hamoye internship\Stage C\Stage C assessment\Africa_fp.csv')

In [3]:
#Africa Food supply/Consumption
Africa_fs = pd.read_csv(r'C:\Users\Kolade Olawoyin\Documents\Hamoye internship\Stage C\Stage C assessment\Africa_fs.csv')

**Question 1**

In [4]:
Africa_fp

        Country                      Item  Year  Value
0       Algeria        Wheat and products  2004   2731
1       Algeria        Wheat and products  2005   2415
2       Algeria        Wheat and products  2006   2688
3       Algeria        Wheat and products  2007   2319
4       Algeria        Wheat and products  2008   1111
5       Algeria        Wheat and products  2009   2953
6       Algeria        Wheat and products  2010   2605
7       Algeria        Wheat and products  2011   2555
8       Algeria        Wheat and products  2012   3432
9       Algeria        Wheat and products  2013   3299
10      Algeria  Rice (Milled Equivalent)  2004      0
11      Algeria  Rice (Milled Equivalent)  2005      0
12      Algeria  Rice (Milled Equivalent)  2006      0
13      Algeria  Rice (Milled Equivalent)  2007      0
14      Algeria  Rice (Milled Equivalent)  2008      0
15      Algeria  Rice (Milled Equivalent)  2009      0
16      Algeria  Rice (Milled Equivalent)  2010      0
17      Algeria  Rice (Milled Equivalent)  2011      0
18      Algeria  Rice (Milled Equivalent)  2012      0
19      Algeria  Rice (Milled Equivalent)  2013      0
20      Algeria       Barley and products  2004   1212
21      Algeria       Barley and products  2005   1033
22      Algeria       Barley and products  2006   1236
23      Algeria       Barley and products  2007   1187
24      Algeria       Barley and products  2008    396
25      Algeria       Barley and products  2009   2203
26      Algeria       Barley and products  2010   1308
27      Algeria       Barley and products  2011   1104
28      Algeria       Barley and products  2012   1592
29      Algeria       Barley and products  2013   1499
...         ...                       ...   ...    ...
23080  Zimbabwe   Milk - Excluding Butter  2004    405
23081  Zimbabwe   Milk - Excluding Butter  2005    386
23082  Zimbabwe   Milk - Excluding Butter  2006    391
23083  Zimbabwe   Milk - Excluding Butter  2007    388
23084  Zimbabwe   Milk - Excluding Butter  2008    389
23085  Zimbabwe   Milk - Excluding Butter  2009    389
23086  Zimbabwe   Milk - Excluding Butter  2010    396
23087  Zimbabwe   Milk - Excluding Butter  2011    400
23088  Zimbabwe   Milk - Excluding Butter  2012    410
23089  Zimbabwe   Milk - Excluding Butter  2013    410
23090  Zimbabwe           Freshwater Fish  2004     13
23091  Zimbabwe           Freshwater Fish  2005     13
23092  Zimbabwe           Freshwater Fish  2006     13
23093  Zimbabwe           Freshwater Fish  2007     13
23094  Zimbabwe           Freshwater Fish  2008     13
23095  Zimbabwe           Freshwater Fish  2009     13
23096  Zimbabwe           Freshwater Fish  2010     13
23097  Zimbabwe           Freshwater Fish  2011     18
23098  Zimbabwe           Freshwater Fish  2012     18
23099  Zimbabwe           Freshwater Fish  2013     18
23100  Zimbabwe               Crustaceans  2004      0
23101  Zimbabwe               Crustaceans  2005      0
23102  Zimbabwe               Crustaceans  2006      0
23103  Zimbabwe               Crustaceans  2007      0
23104  Zimbabwe               Crustaceans  2008      0
23105  Zimbabwe               Crustaceans  2009      0
23106  Zimbabwe               Crustaceans  2010      0
23107  Zimbabwe               Crustaceans  2011      0
23108  Zimbabwe               Crustaceans  2012      0
23109  Zimbabwe               Crustaceans  2013      0

[23110 rows x 4 columns]

In [8]:
Africa_fp = pd.DataFrame(Africa_fp).reset_index()

In [13]:
oats = Africa_fp.groupby(['Country', 'Item', 'Year'])['Value'].max()
oats

Country   Item                 Year
Algeria   Apples and products  2004     165
                               2005     200
                               2006     283
                               2007     190
                               2008     261
                               2009     267
                               2010     379
                               2011     404
                               2012     398
                               2013     456
          Bananas              2004       0
                               2005       0
                               2006       0
                               2007       0
                               2008       0
                               2009       0
                               2010       0
                               2011       0
                               2012       0
                               2013       0
          Barley and products  2004    1212
                               2005    1033
                               2006    1236
                               2007    1187
                               2008     396
                               2009    2203
                               2010    1308
                               2011    1104
                               2012    1592
                               2013    1499
                                       ...
Zimbabwe  Vegetables, Other    2004     171
                               2005     157
                               2006     194
                               2007     176
                               2008     121
                               2009     161
                               2010     181
                               2011     182
                               2012     203
                               2013     203
          Wheat and products   2004     247
                               2005     229
                               2006     242
                               2007     149
                               2008      31
                               2009      12
                               2010      18
                               2011      23
                               2012      20
                               2013      25
          Wine                 2004       2
                               2005       2
                               2006       2
                               2007       2
                               2008       2
                               2009       2
                               2010       2
                               2011       2
                               2012       2
                               2013       2
Name: Value, Length: 23110, dtype: int64

In [14]:
oats = pd.DataFrame(oats).reset_index()
oats

        Country                 Item  Year  Value
0       Algeria  Apples and products  2004    165
1       Algeria  Apples and products  2005    200
2       Algeria  Apples and products  2006    283
3       Algeria  Apples and products  2007    190
4       Algeria  Apples and products  2008    261
5       Algeria  Apples and products  2009    267
6       Algeria  Apples and products  2010    379
7       Algeria  Apples and products  2011    404
8       Algeria  Apples and products  2012    398
9       Algeria  Apples and products  2013    456
10      Algeria              Bananas  2004      0
11      Algeria              Bananas  2005      0
12      Algeria              Bananas  2006      0
13      Algeria              Bananas  2007      0
14      Algeria              Bananas  2008      0
15      Algeria              Bananas  2009      0
16      Algeria              Bananas  2010      0
17      Algeria              Bananas  2011      0
18      Algeria              Bananas  2012      0
19      Algeria              Bananas  2013      0
20      Algeria  Barley and products  2004   1212
21      Algeria  Barley and products  2005   1033
22      Algeria  Barley and products  2006   1236
23      Algeria  Barley and products  2007   1187
24      Algeria  Barley and products  2008    396
25      Algeria  Barley and products  2009   2203
26      Algeria  Barley and products  2010   1308
27      Algeria  Barley and products  2011   1104
28      Algeria  Barley and products  2012   1592
29      Algeria  Barley and products  2013   1499
...         ...                  ...   ...    ...
23080  Zimbabwe    Vegetables, Other  2004    171
23081  Zimbabwe    Vegetables, Other  2005    157
23082  Zimbabwe    Vegetables, Other  2006    194
23083  Zimbabwe    Vegetables, Other  2007    176
23084  Zimbabwe    Vegetables, Other  2008    121
23085  Zimbabwe    Vegetables, Other  2009    161
23086  Zimbabwe    Vegetables, Other  2010    181
23087  Zimbabwe    Vegetables, Other  2011    182
23088  Zimbabwe    Vegetables, Other  2012    203
23089  Zimbabwe    Vegetables, Other  2013    203
23090  Zimbabwe   Wheat and products  2004    247
23091  Zimbabwe   Wheat and products  2005    229
23092  Zimbabwe   Wheat and products  2006    242
23093  Zimbabwe   Wheat and products  2007    149
23094  Zimbabwe   Wheat and products  2008     31
23095  Zimbabwe   Wheat and products  2009     12
23096  Zimbabwe   Wheat and products  2010     18
23097  Zimbabwe   Wheat and products  2011     23
23098  Zimbabwe   Wheat and products  2012     20
23099  Zimbabwe   Wheat and products  2013     25
23100  Zimbabwe                 Wine  2004      2
23101  Zimbabwe                 Wine  2005      2
23102  Zimbabwe                 Wine  2006      2
23103  Zimbabwe                 Wine  2007      2
23104  Zimbabwe                 Wine  2008      2
23105  Zimbabwe                 Wine  2009      2
23106  Zimbabwe                 Wine  2010      2
23107  Zimbabwe                 Wine  2011      2
23108  Zimbabwe                 Wine  2012      2
23109  Zimbabwe                 Wine  2013      2

[23110 rows x 4 columns]

In [20]:
oats_max = oats[oats['Item']=='Oats'].sort_values('Year')
oats_max

            Country  Item  Year  Value
320         Algeria  Oats  2004     89
13520       Morocco  Oats  2004     17
9670          Kenya  Oats  2004      4
18180  South Africa  Oats  2004     37
8030          Ghana  Oats  2004      0
20350       Tunisia  Oats  2004      1
6640       Ethiopia  Oats  2004     39
22810      Zimbabwe  Oats  2004      1
10120       Lesotho  Oats  2004      0
13521       Morocco  Oats  2005     16
9671          Kenya  Oats  2005      4
6641       Ethiopia  Oats  2005     57
18181  South Africa  Oats  2005     34
22811      Zimbabwe  Oats  2005      1
20351       Tunisia  Oats  2005      1
321         Algeria  Oats  2005     78
8031          Ghana  Oats  2005      0
10121       Lesotho  Oats  2005      0
9672          Kenya  Oats  2006      4
8032          Ghana  Oats  2006      0
18182  South Africa  Oats  2006     44
322         Algeria  Oats  2006     89
20352       Tunisia  Oats  2006      1
10122       Lesotho  Oats  2006      0
6642       Ethiopia  Oats  2006     40
22812      Zimbabwe  Oats  2006      1
13522       Morocco  Oats  2006     17
10123       Lesotho  Oats  2007      0
9673          Kenya  Oats  2007      4
18183  South Africa  Oats  2007     42
...             ...   ...   ...    ...
10126       Lesotho  Oats  2010      0
22816      Zimbabwe  Oats  2010      1
326         Algeria  Oats  2010     88
327         Algeria  Oats  2011     67
22817      Zimbabwe  Oats  2011      1
20357       Tunisia  Oats  2011      2
8037          Ghana  Oats  2011      0
18187  South Africa  Oats  2011     66
10127       Lesotho  Oats  2011      0
9677          Kenya  Oats  2011      4
6647       Ethiopia  Oats  2011     49
13527       Morocco  Oats  2011     96
328         Algeria  Oats  2012    110
20358       Tunisia  Oats  2012      2
9678          Kenya  Oats  2012      4
18188  South Africa  Oats  2012     57
6648       Ethiopia  Oats  2012     44
13528       Morocco  Oats  2012     56
8038          Ghana  Oats  2012      0
10128       Lesotho  Oats  2012      0
22818      Zimbabwe  Oats  2012      1
18189  South Africa  Oats  2013     28
9679          Kenya  Oats  2013      4
20359       Tunisia  Oats  2013      2
6649       Ethiopia  Oats  2013     60
13529       Morocco  Oats  2013     46
8039          Ghana  Oats  2013      0
10129       Lesotho  Oats  2013      0
329         Algeria  Oats  2013    113
22819      Zimbabwe  Oats  2013      1

[90 rows x 4 columns]

In [31]:
high = oats_max[oats_max['Year']==2010].sort_values(by = 'Year', ascending = True)
high

            Country  Item  Year  Value
6646       Ethiopia  Oats  2010     48
20356       Tunisia  Oats  2010      2
18186  South Africa  Oats  2010     34
8036          Ghana  Oats  2010      0
9676          Kenya  Oats  2010      3
13526       Morocco  Oats  2010     37
10126       Lesotho  Oats  2010      0
22816      Zimbabwe  Oats  2010      1
326         Algeria  Oats  2010     88

In [32]:
high.max()

Country    Zimbabwe
Item           Oats
Year           2010
Value            88
dtype: object

Zimbabwe and Algeria have the same production, but Algeria is present in the options

**Question 2**

In [37]:
con1 = Africa_fs['Year']==2004
con2 = Africa_fs['Year']==2005
con3 = Africa_fs['Year']==2006
new_data1 = Africa_fs.loc[con1]
new_data2 = Africa_fs.loc[con2]
new_data3 = Africa_fs.loc[con3]

In [50]:
merged = pd.merge(new_data1, new_data2, how = 'outer')
merged

                        Country  Year  Value
0                       Algeria  2004   2987
1                        Angola  2004   2030
2                         Benin  2004   2461
3                      Botswana  2004   2191
4                  Burkina Faso  2004   2505
5                    Cabo Verde  2004   2523
6                      Cameroon  2004   2246
7      Central African Republic  2004   1989
8                          Chad  2004   2026
9                         Congo  2004   2263
10                Cote d'Ivoire  2004   2738
11                     Djibouti  2004   2136
12                        Egypt  2004   3309
13                     Ethiopia  2004   1882
14                        Gabon  2004   2676
15                       Gambia  2004   2465
16                        Ghana  2004   2682
17                       Guinea  2004   2426
18                Guinea-Bissau  2004   2257
19                        Kenya  2004   2022
20                      Lesotho  2004   2541
21                      Liberia  2004   2092
22                   Madagascar  2004   1980
23                       Malawi  2004   2166
24                         Mali  2004   2540
25                   Mauritania  2004   2599
26                    Mauritius  2004   3023
27                      Morocco  2004   3263
28                   Mozambique  2004   2059
29                      Namibia  2004   2268
..                          ...   ...    ...
60                       Gambia  2005   2442
61                        Ghana  2005   2751
62                       Guinea  2005   2443
63                Guinea-Bissau  2005   2273
64                        Kenya  2005   2161
65                      Lesotho  2005   2567
66                      Liberia  2005   2160
67                   Madagascar  2005   2060
68                       Malawi  2005   2191
69                         Mali  2005   2583
70                   Mauritania  2005   2629
71                    Mauritius  2005   3009
72                      Morocco  2005   3206
73                   Mozambique  2005   2038
74                      Namibia  2005   2243
75                        Niger  2005   2444
76                      Nigeria  2005   2705
77                       Rwanda  2005   2037
78        Sao Tome and Principe  2005   2546
79                      Senegal  2005   2237
80                 Sierra Leone  2005   2082
81                 South Africa  2005   2952
82                        Sudan  2005   2296
83                    Swaziland  2005   2372
84                         Togo  2005   2238
85                      Tunisia  2005   3220
86                       Uganda  2005   2327
87  United Republic of Tanzania  2005   2134
88                       Zambia  2005   1873
89                     Zimbabwe  2005   2025

[90 rows x 3 columns]

In [51]:
merged2 = pd.merge( merged, new_data3, how ='outer')
merged2

                         Country  Year  Value
0                        Algeria  2004   2987
1                         Angola  2004   2030
2                          Benin  2004   2461
3                       Botswana  2004   2191
4                   Burkina Faso  2004   2505
5                     Cabo Verde  2004   2523
6                       Cameroon  2004   2246
7       Central African Republic  2004   1989
8                           Chad  2004   2026
9                          Congo  2004   2263
10                 Cote d'Ivoire  2004   2738
11                      Djibouti  2004   2136
12                         Egypt  2004   3309
13                      Ethiopia  2004   1882
14                         Gabon  2004   2676
15                        Gambia  2004   2465
16                         Ghana  2004   2682
17                        Guinea  2004   2426
18                 Guinea-Bissau  2004   2257
19                         Kenya  2004   2022
20                       Lesotho  2004   2541
21                       Liberia  2004   2092
22                    Madagascar  2004   1980
23                        Malawi  2004   2166
24                          Mali  2004   2540
25                    Mauritania  2004   2599
26                     Mauritius  2004   3023
27                       Morocco  2004   3263
28                    Mozambique  2004   2059
29                       Namibia  2004   2268
..                           ...   ...    ...
105                       Gambia  2006   2397
106                        Ghana  2006   2824
107                       Guinea  2006   2503
108                Guinea-Bissau  2006   2253
109                        Kenya  2006   2161
110                      Lesotho  2006   2595
111                      Liberia  2006   2116
112                   Madagascar  2006   2083
113                       Malawi  2006   2269
114                         Mali  2006   2654
115                   Mauritania  2006   2603
116                    Mauritius  2006   3022
117                      Morocco  2006   3271
118                   Mozambique  2006   2111
119                      Namibia  2006   2230
120                        Niger  2006   2442
121                      Nigeria  2006   2725
122                       Rwanda  2006   2044
123        Sao Tome and Principe  2006   2554
124                      Senegal  2006   2310
125                 Sierra Leone  2006   2155
126                 South Africa  2006   2927
127                        Sudan  2006   2331
128                    Swaziland  2006   2325
129                         Togo  2006   2283
130                      Tunisia  2006   3273
131                       Uganda  2006   2276
132  United Republic of Tanzania  2006   2141
133                       Zambia  2006   1838
134                     Zimbabwe  2006   2115

[135 rows x 3 columns]

In [53]:
lowest = merged2.groupby('Country')['Value'].sum().sort_values(ascending = True)
lowest

Country
Zambia                          5577
Ethiopia                        5827
Central African Republic        6044
Rwanda                          6050
Chad                            6082
Madagascar                      6123
Zimbabwe                        6184
Mozambique                      6208
Angola                          6226
Sierra Leone                    6261
Kenya                           6344
Liberia                         6368
United Republic of Tanzania     6373
Congo                           6449
Botswana                        6539
Malawi                          6626
Djibouti                        6715
Namibia                         6741
Togo                            6767
Guinea-Bissau                   6783
Senegal                         6795
Sudan                           6898
Cameroon                        6911
Uganda                          6954
Swaziland                       7166
Gambia                          7304
Niger                           7339
Benin                           7346
Guinea                          7372
Burkina Faso                    7527
Cabo Verde                      7553
Sao Tome and Principe           7613
Lesotho                         7703
Mali                            7777
Mauritania                      7831
Nigeria                         8085
Gabon                           8107
Ghana                           8257
Cote d'Ivoire                   8308
South Africa                    8819
Algeria                         8992
Mauritius                       9054
Morocco                         9740
Tunisia                         9741
Egypt                          10065
Name: Value, dtype: int64

The answer is Zambia, Ethiopia and Central Africa Republic.

**Question 5**

In [56]:
rice = Africa_fp[Africa_fp['Item']=='Rice (Milled Equivalent)']
rice

,index,Country,Item,Year,Value
10,10,Algeria,Rice (Milled Equivalent),2004,0
11,11,Algeria,Rice (Milled Equivalent),2005,0
12,12,Algeria,Rice (Milled Equivalent),2006,0
13,13,Algeria,Rice (Milled Equivalent),2007,0
14,14,Algeria,Rice (Milled Equivalent),2008,0
15,15,Algeria,Rice (Milled Equivalent),2009,0
16,16,Algeria,Rice (Milled Equivalent),2010,0
17,17,Algeria,Rice (Milled Equivalent),2011,0
18,18,Algeria,Rice (Milled Equivalent),2012,0
19,19,Algeria,Rice (Milled Equivalent),2013,0
590,590,Angola,Rice (Milled Equivalent),2004,9
591,591,Angola,Rice (Milled Equivalent),2005,6
592,592,Angola,Rice (Milled Equivalent),2006,3
593,593,Angola,Rice (Milled Equivalent),2007,3
594,594,Angola,Rice (Milled Equivalent),2008,6
595,595,Angola,Rice (Milled Equivalent),2009,10
596,596,Angola,Rice (Milled Equivalent),2010,12
597,597,Angola,Rice (Milled Equivalent),2011,15
598,598,Angola,Rice (Milled Equivalent),2012,14
599,599,Angola,Rice (Milled Equivalent),2013,25
1120,1120,Benin,Rice (Milled Equivalent),2004,43
1121,1121,Benin,Rice (Milled Equivalent),2005,52
1122,1122,Benin,Rice (Milled Equivalent),2006,47
1123,1123,Benin,Rice (Milled Equivalent),2007,50
1124,1124,Benin,Rice (Milled Equivalent),2008,70
1125,1125,Benin,Rice (Milled Equivalent),2009,75
1126,1126,Benin,Rice (Milled Equivalent),2010,83
1127,1127,Benin,Rice (Milled Equivalent),2011,146
1128,1128,Benin,Rice (Milled Equivalent),2012,146
1129,1129,Benin,Rice (Milled Equivalent),2013,138
...,...,...,...,...,...
21210,21210,United Republic of Tanzania,Rice (Milled Equivalent),2004,706
21211,21211,United Republic of Tanzania,Rice (Milled Equivalent),2005,779
21212,21212,United Republic of Tanzania,Rice (Milled Equivalent),2006,805
21213,21213,United Republic of Tanzania,Rice (Milled Equivalent),2007,895
21214,21214,United Republic of Tanzania,Rice (Milled Equivalent),2008,948
21215,21215,United Republic of Tanzania,Rice (Milled Equivalent),2009,890
21216,21216,United Republic of Tanzania,Rice (Milled Equivalent),2010,1768
21217,21217,United Republic of Tanzania,Rice (Milled Equivalent),2011,1500
21218,21218,United Republic of Tanzania,Rice (Milled Equivalent),2012,1201
21219,21219,United Republic of Tanzania,Rice (Milled Equivalent),2013,1464
22000,22000,Zambia,Rice (Milled Equivalent),2004,11
22001,22001,Zambia,Rice (Milled Equivalent),2005,9
22002,22002,Zambia,Rice (Milled Equivalent),2006,9
22003,22003,Zambia,Rice (Milled Equivalent),2007,12
22004,22004,Zambia,Rice (Milled Equivalent),2008,16
22005,22005,Zambia,Rice (Milled Equivalent),2009,28
22006,22006,Zambia,Rice (Milled Equivalent),2010,34
22007,22007,Zambia,Rice (Milled Equivalent),2011,33
22008,22008,Zambia,Rice (Milled Equivalent),2012,30
22009,22009,Zambia,Rice (Milled Equivalent),2013,30
22480,22480,Zimbabwe,Rice (Milled Equivalent),2004,0
22481,22481,Zimbabwe,Rice (Milled Equivalent),2005,1
22482,22482,Zimbabwe,Rice (Milled Equivalent),2006,0
22483,22483,Zimbabwe,Rice (Milled Equivalent),2007,0
22484,22484,Zimbabwe,Rice (Milled Equivalent),2008,0
22485,22485,Zimbabwe,Rice (Milled Equivalent),2009,0
22486,22486,Zimbabwe,Rice (Milled Equivalent),2010,0
22487,22487,Zimbabwe,Rice (Milled Equivalent),2011,0
22488,22488,Zimbabwe,Rice (Milled Equivalent),2012,0
22489,22489,Zimbabwe,Rice (Milled Equivalent),2013,0

In [58]:
highest_rice = rice.groupby('Country')['Value'].sum().sort_values(ascending = False)
highest_rice

Country
Egypt                          40370
Nigeria                        26964
Madagascar                     26118
United Republic of Tanzania    10956
Guinea                         10400
Mali                           10371
Cote d'Ivoire                   6439
Sierra Leone                    6038
Senegal                         2462
Ghana                           2443
Liberia                         1602
Burkina Faso                    1265
Uganda                          1234
Chad                            1167
Mozambique                      1110
Guinea-Bissau                   1030
Benin                            850
Cameroon                         767
Mauritania                       751
Malawi                           674
Togo                             653
Kenya                            504
Rwanda                           482
Ethiopia                         469
Gambia                           325
Morocco                          274
Niger                            267
Central African Republic         261
Zambia                           212
Sudan                            170
Angola                           103
South Africa                      22
Gabon                             10
Congo                             10
Zimbabwe                           1
Mauritius                          1
Swaziland                          0
Algeria                            0
Name: Value, dtype: int64

The answer to Question 5 is Egypt, Nigeria and Madagascar.